{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SLE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet"href="{% static 'assets/css/notif.css' %}">
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/slm.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">SLE</a></h1>
       
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/log" class="nav-link scrollto"><i class="bx bx-log-out"></i><span>sign Out</span></a></li>
          <li><a href="/AdminApp/leaveinfo" class="nav-link scrollto"><i class="bx bx-calendar-event"></i><span>Leave Info</span></a></li>
          <li><a href="/leave_request" class="nav-link scrollto"><i class="bx bx-calendar-plus"></i><span>Leave Request</span></a></li>
          <li><a href="/notif" class="nav-link scrollto"><i class="bx bx-bell"></i><span>Notifications</span></a></li>
          
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
  <h1 class="app">PayRoll</h1>
  <div class="card">
  <form method="post"id="working-days-form">
    {% csrf_token %}
    <h3 style="color:darkgreen">{{success}}</h3>
    <h3 style="color:darkred;">{{error}}</h3>
    {% for ls in payroll %}
    <label>Staff Name: </label>
    <input type="text"id="sn"name="sn"value="{{ls.sn}}">
    
    <label>Leave Type: </label>
    <input type="text"id="lt"name="lt"value="{{ls.lt}}">
    <br>
    <br>
    <label>Staff Type: </label>
    <input type="text"id="st"name="st"value="{{ls.st}}">
    <br>
    <br>
    <label>Start Date: </label>
    <input type="text"id="start"name="start"value="{{ls.start}}">
    <br>
    <br>
    <label>End Date: </label>
    <input type="text"id="end"name="end"value="{{ls.end}}">
    <br>
    <br>
    <label>Basic Salary: </label>
    <input type="text" id="basic"name="basic"value="{{ls.basic}}">
    <br>
    <br>
    <label>Loss of pay: </label>
    <input type="text"id="lop" name="lop"value="{{ls.lop}}">
    <br>
    <br>
    <label>Net Amount: </label>
    <input type="text"id="net" name="net"value="{{ls.net}}">
    <br>
    <br>
    <button class="btn btn-success me-3" id="btn"onclick="printForm()">Print</button>
    <br>
    <br>
    {% endfor %}
  </form>
  </div>
  <script>
  function printForm(){
    window.print();
  }
    
</script>
  
</body>