{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SLE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet"href="{% static 'assets/css/notif.css' %}">
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/slm.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">SLE</a></h1>
       
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/log" class="nav-link scrollto"><i class="bx bx-log-out"></i><span>sign Out</span></a></li>
          <li><a href="/AdminApp/leaveinfo" class="nav-link scrollto"><i class="bx bx-calendar-event"></i><span>Leave Info</span></a></li>
          <li><a href="/leave_request" class="nav-link scrollto"><i class="bx bx-calendar-plus"></i><span>Leave Request</span></a></li>
          <li><a href="/leave_history" class="nav-link scrollto"><i class="bx bx-calendar-check"></i><span>Leave History</span></a></li>
          <li><a href="/notif" class="nav-link scrollto"><i class="bx bx-bell"></i><span>Notifications</span></a></li>
          <li><a href="/salary"class="nav-link scrollto"><i class="bx bx-dollar"></i><span>Salary</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
  <h1 class="app">Approved leaves</h1>
  <div class="card">
  <form>
    <h3 style="color:darkred;">{{error}}</h3>
    {% for ls in not %}
    <label>Staff Name: </label>
    <input type="text"name="sn"value="{{ls.sn}}">
    
    <label>Leave Type: </label>
    <input type="text"name="lt"value="{{ls.lt}}">
    <br>
    <br>
    <label>Start Date: </label>
    <input type="text"name="start"value="{{ls.start}}">
    
    <label>End Date: </label>
    <input type="text"name="end"value="{{ls.end}}">
    <br>
    <br>

    <label>Reason for Leave: </label>
    <textarea name="rs">{{ls.rs}}</textarea>
    <br>
    <br>
    <label>Annual Leaves: </label>
    <input type="text" name="al"value="{{ls.al}}">
    <br>
    <br>
    <label>Requested Days: </label>
    <input type="text" name="rd"value="{{ls.rd}}">
    <br>
    <br>
    <label>Remaining Leaves: </label>
    <input type="text" name="rm"value="{{ls.rm}}">
    <br>
    <br>
    <button class="btn btn-danger me-3" ><a href="/leave_cancel?idn={{ls.id}}"style="color:white;text-decoration:none;">Cancel</a></button>
    <br>
    <br>
    {% endfor %}
  </form>
  </div>
  <h1 class="app">Approved LWA Leaves</h1>
  <div class="card">
  <form>
    <h3 style="color:darkred;">{{error}}</h3>
    {% for ls in lnot %}
    <label>Staff Name: </label>
    <input type="text"name="sn"value="{{ls.sn}}">
    
    <label>Leave Type: </label>
    <input type="text"name="lt"value="{{ls.lt}}">
    <br>
    <br>
    <label>Start Date: </label>
    <input type="text"name="start"value="{{ls.start}}">
    
    <label>End Date: </label>
    <input type="text"name="end"value="{{ls.end}}">
    <br>
    <br>

    <label>Reason for Leave: </label>
    <textarea name="rs">{{ls.rs}}</textarea>
    <br>
    <br>
    
    <label>Requested Days: </label>
    <input type="text" name="rd"value="{{ls.rd}}">
    <br>
    <br>
    
    <button class="btn btn-danger me-3" ><a href="/leave_cancel?idn={{ls.id}}"style="color:white;text-decoration:none;">Cancel</a></button>
    <br>
    <br>
    {% endfor %}
  </form>
  </div>
  
  
</body>